// google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// imports
@import './Variables.scss';
@import './Mixins.scss';

// components
// @import './Component-Style/PopUp.scss';
@import './Component-Style/Launches.scss';
@import './Component-Style/Navbar.scss';


// default syles
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-family: $fontFamily;
    scroll-behavior: smooth;
    background-image:linear-gradient(rgba(23, 29, 54, 0.6),rgba(167, 81, 53, 0.4)) ,url(./Img/space2.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    font-size: 1.6em; 
    color: $fontGray;
    transition: $transition-out;

    &:hover,
    &:focus,
    &:active{
        transition: $transition-in;
        color: $white;
        filter: drop-shadow(0px 0px 7px rgb(236, 63, 5));
    }
}

button{
    background: none;
    border: none;
    color: $fontGray;
    transition: $transition-out;

    &:hover{
        cursor: pointer;
        transition: $transition-in;
        color: $white;
        filter: drop-shadow(0px 0px 7px rgb(236, 63, 5));
    }
}

section{
    margin: 2em;
    padding: 20px;
    flex:0 0 75%;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

//global classes
.home{
    @include flex(flex-start,stretch);
    background:linear-gradient(rgba(0,0,0, 0.4),rgba(0,0,0, 0.4)) ,$backgroundTransparent;
    margin: 100px auto;
    height: 80vh;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0px 0px 150px rgba(167, 81, 53, 0.2);
    position: relative;
}

.popUpShow{
    position: absolute;
    top: 0;
    left: 0;
    height:80vh;
    background-color: transparent;
    z-index: 2;
    width: 100%;

    &__box{
        color: white;
        position: absolute;
        background:linear-gradient(rgba(20, 24, 34,0.5),rgba(23, 29, 54, 0.5)) ,$darkBlue; 
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.719);
        top: -2em;
        right: -5em;
        font-size: 2rem;
        height: 92vh;
        width: 12em;
        padding: 20px;
        z-index: 20;

        button{
            position: absolute;
            right: 0.7em;;
            font-size: 1em;
            font-weight: 600;
        }
    }
}

.popUpHide{
    display: none;
}

.saved{
    color: $white!important;
    filter: drop-shadow(0px 0px 7px rgb(236, 63, 5));
}