@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// imports
@import './Variables.scss';
@import './Mixins.scss';

// components
@import './Component-Style/PopUp.scss';
@import './Component-Style/LaunchesList.scss';
@import './Component-Style/Navbar.scss';


// DEFAULT STYLES
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.6;
    font-family: $fontFamily;
    scroll-behavior: smooth;
    background-image:linear-gradient(rgba(23, 29, 54, 0.6),rgba(167, 81, 53, 0.4)) ,url(./Img/space2.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 80%;
    margin: auto;

    @media(max-width:768px){
        width: 90%;
    }
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    transition: $transition-out;

    &:hover{
        transition: $transition-in;
    }
}


.home{
    @include flex(space-between,stretch);
    background:linear-gradient(rgba(0,0,0, 0.4),rgba(0,0,0, 0.4)) ,$background;
    margin: 100px auto;
    height: 80vh;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0px 0px 150px rgba(167, 81, 53, 0.2);
}