// variables
$darkOrange: rgb(167, 81, 53);
$lightOrange:rgb(246, 101, 54);
$lightGray: #d3d3d3;
$white: rgb(218, 209, 209);
$fontGray:rgb(86, 87, 92);
$blue:rgb(28, 34, 48);
$lightBlue:rgb(30, 37, 58);
$fontFamily: 'Montserrat',sans-serif;
$transition-in: .4s ease-in;
$transition-out: .4s ease-out;