// variables
$yellow: rgb(255, 192, 0);
$lightGray: #d3d3d3;
$white: rgb(218, 209, 209);
$fontGray:RGB(64, 68, 79);
$background:rgb(18, 22, 33);
$lightBackground:rgb(27, 33, 45);
$fontFamily: 'Montserrat',sans-serif;
$transition-in: .4s ease-in;
$transition-out: .6s ease-out;